.container {
  position: absolute;
  width: 100vw;
  background: rgb(8, 0, 154);
  background: linear-gradient(
    125deg,
    rgba(8, 0, 154, 0.9136029411764706) 0%,
    rgba(146, 63, 255, 1) 36%,
    rgba(78, 226, 255, 1) 100%
  );
}

.card {
  width: 100%;
  background: #e5e5e5;
  border-radius: 1rem;
  border-width: 0px;
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.2);
}

.cardImage {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}
