.container {
  position: absolute;
  width: 100vw;
  height: 80vh;
}

.shapefill {
  fill: #108dd2;
}

.textcontainer {
  padding-left: 3%;
  margin-right: 60%;
  padding-top: 5%;
}

.divider {
  color: #108dd2;
  size: 10;
  width: 50%;
}
