.container {
  position: absolute;
  width: 100vw;
  height: 80vh;
  top: 10vh;
  background: rgba(234, 247, 255, 0.99);
}

.shapefill {
  fill: #108dd2;
}

.textcontainer {
  margin-left: 5%;
  margin-right: 3%;
}

.divider {
  color: #108dd2;
  size: 10;
  width: 50%;
}
