.Sponsors {
  /* Sponsors */

  position: absolute;
  border: solid;
  margin-top: 4000px;
  margin-left: auto;
  margin-right: auto;
  width: 2000px;
  height: 5000px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 132px;
  color: #0A5A86;
  align-items: center;
  justify-content: center; 
}


